

body{
    background-color: peru;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    font-family: Architects Daughter;
    
}

section{
    display: block;
    
}

.boite{
    background-color: grey ;
    width: 500px;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 30px 10px ;
    border: solid rgba(255, 255, 255, 0.5);
}

.title{
    background-color: rgb(99, 52, 226) ;
    width: 500px;
    height: 50px;
    background-image: linear-gradient(to right, rgb(59, 38, 117) ,rgb(173, 157, 219));
    position: absolute;
    border: solid rgba(255, 255, 255, 0.5);
    z-index: 1;
    text-align: center;
    
}

.title p{
    color: white;
    margin-left: 1%;
    font-size: 30px;
    margin: 0;
    padding: 0;
    margin-top: 1%;


}

i{
    color: red;
}


img{
    width: 100px;
    height: 100px;
    cursor: pointer;
   
}







/* happy */

.section2{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 500px;
    height: 450px;
    margin-top: 15%;
    

    
}

.title2{
    background-color: rgb(99, 52, 226) ;
    width: 500px;
    height: 50px;
    background-image: linear-gradient(to right, rgb(59, 38, 117) ,rgb(173, 157, 219));
    position: absolute;
    border: solid rgba(255, 255, 255, 0.5);
    z-index: 1;
    text-align: center;
    
}

.title2 p{
    color: white;
    margin-left: 1%;
    font-size: 30px;
    margin: 0;
    padding: 0;
    margin-top: 1%;

}

.now{
    z-index:1 ;
}

.boiteSmile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2 img{
    width: 200px;
    height: 200px;
    display: none;
   
    
}

.section2 img{

    z-index: 1;
    display: block;
    
}
